<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Первый в России краудсорсинговый учебник</title>
  <meta name="description" content="Первый в России краудсорсинговый учебник">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrap">
  <header class="plate">
    <div class="subtitle">Первый в России</div>
    <div class="title"><h1 class="ubuntu">краудсорсинговый учебник</h1></div>
  </header>

  <div class="row">
    <div class="columns small-12 medium-10 large-8 medium-offset-1 large-offset-2">
      <ul class="features">
        <li>Не надо быть профессором, чтобы написать классный учебник.</li>
        <li>Мы верим, что вместе мы создадим самый понятный учебник,<br>
          потому что никто не объясняет студенту лучше чем он сам!</li>
        <li>Долой догмы и стереотипы! Напиши свой учебник и свою историю образования!</li>
        <li>Лучший способ упорядочить знания — объяснить их другому.</li>
      </ul>
    </div>
  </div>

  <div class="plate how">
    <h2 class="ubuntu">Как это будет сделано</h2>
  </div>

  <div class="row">
    <div class="column small-12 medium-6 large-3 step">
      <img src="img/step1.png" width="116" height="82" alt="">
      <p>Мы готовим структуру<br>для учебника</p>
    </div>
    <div class="column small-12 medium-6 large-3 step">
      <img src="img/step2.png" width="206" height="82" alt="">
      <p>Ты заходишь на сайт,<br>выбираешь&nbsp;и&nbsp;объясняешь&nbsp;тему</p>
    </div>
    <div class="column small-12 medium-6 large-3 step">
      <img src="img/step3.png" width="231" height="82" alt="">
      <p>Мы красочно оформляем<br>все объяснения</p>
    </div>
    <div class="column small-12 medium-6 large-3 step">
      <img src="img/step4.png" width="143" height="82" alt="">
      <p>В результате получается<br>pdf&nbsp;с&nbsp;твоим&nbsp;именем,&nbsp;бесплатно доступный для всех студентов</p>
    </div>
  </div>

  <footer class="plate">
    <div class="row">
      <div class="column small-12 medium-6">
        <h3 class="ubuntu">Мне нравится идея,</h3>
        <a href="#" class="ubuntu action" id="agree">я хочу участвовать</a>
      </div>
      <div class="column small-12 medium-6 hide-for-small-only">
        <h3 class="ubuntu">Рассказать друзьям</h3>
        <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter"></div>
      </div>
    </div>
  </footer>
</div>

<div class="contact-form">
  <div class="cf-shadow"></div>
  <div class="cf-wrap">
    <form method="post" action="http://cp.unisender.com/ru/subscribe?hash=5f8whtc5yd9hm9fw56jad6z4jzwpeqzsgfrt91jy" onsubmit="return us_.onSubmit(this);" us_mode="embed">
      <input type="text" name="email" value="" _required="0" _validator="email" _label="E-mail" class="us_input" placeholder="Email" />
      <input type="submit" value="Подписаться" class="us_submit ubuntu" />
      <input type="hidden" name="charset" value=""/>
      <input type="hidden" name="default_list_id" value="3420499"/>
      <input type="hidden" name="overwrite" value="2" />
    </form>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../vendor/assets/javascripts/jquery-1.11.0.min.js"><\/script>')</script>
<script src="../vendor/assets/javascripts/foundation.min.js"></script>
<script src="../vendor/assets/javascripts/plugins.js"></script>
<script src="../vendor/assets/javascripts/main.js"></script>
</body>
</html>
</div>
</body>